#divVignetteAlbum {
    width: 200px;
    height: 300px;
    border: solid 1px black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#divVignetteAlbum img {
    display: block;
    width: 100%;
    height: 270px;
    cursor: pointer;
}

#titreAlbum {
    width: 100%;
    height: 30px;
    padding-top: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: navy;
    border-top: solid 1px blue;
    cursor: pointer;
}
