header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    background-color: navy;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

#titre {
    font-size: 32px;
}

#separator {
    flex: 1 1 auto;
}

.listeLiens {
    display: inline-flex;
    margin-left: 32px;
    padding-left: 0;
    list-style: none;
}

.listeLiens li {
    margin-left: 16px;
    font-size: 24px;
}

.listeLiens li:first-child {
    margin-left: 0;
}

.listeLiens li:hover {
    transition: 0.1s all;
    border-bottom: solid 2px white;
    cursor: pointer;
}

#contenuPage {
    width: 80%;
    height: calc(100vh - 64px);
    margin-left: 10%;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}
