@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}
